*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
#intro{
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro button{
    color: #fff;
    font-size: 40px;
    width: 400px;
    height: 120px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 15px 0;
    outline-style: none;
}
#intro button:hover{
    color: yellow;
}
#intro p{
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 30px;
    color: #000;
    font-size: 24px;
    width: 80%;
}
#wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/1920px.jpg) no-repeat;
    background-size: 100% 100%;
}
#board{
    width: 40%;
    height: 150px;
    background-color: antiquewhite;
    display: none;
    align-items: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#round{
    width: 10%;
    height: 100%;
    background: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
#teams{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teams>div{
    width: 100%;
    height: 50%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
#teams>div:last-child{
    border-top: 1px solid #ccc;
}
#score{
    width:10%;
    height: 100%;
}
#score>div{
    width: 100%;
    height: 50%;
    background-color: azure;
    border-left: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#score>div:first-child{
    background: red;
}
#score>div:last-child{
    border-top: 1px solid #ccc;
    background: rgb(35, 35, 124);
}
#minimap{
    width: 20%;
    height: 100%;
    background: #444;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#minimap div:nth-child(1){
    position: absolute;
    right: 20px;
    top: 55px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    transform: rotateZ(45deg);
}
#minimap div:nth-child(2){
    position: absolute;
    left: 57px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    transform: rotate(45deg);
}
#minimap div:nth-child(3){
    position: absolute;
    left: 20px;
    top: 55px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    transform: rotate(45deg);
}
#round-board{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#round-board>div{
    width: 100%;
    height: 100px;
    background-color: #444;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#round-board p{
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}
#round-board>div:first-child div{
    font-size: 20px;
}
#round-board div div{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#round-board>div:last-child{
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

#commands{
    width: 300px;
    height: 300px;
    color: deeppink;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 10%;
}
#commands button{
    font-size: 24px;
    width: 70%;
    height: 50px;
    margin: 5px 0;
    border-radius: 10px;
}
#commands button:hover{
    background: rgb(90, 90, 228);
    color: #fff;
}
#action-log{
    display: none;
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
}
#action-log h2{
    color: yellow;
    width: 100%;
    height: 15%;
    padding: 5px;
    text-align: center;
}
#action-log>ul{
    width: 100%;
    height: 85%;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
}
#action-log>ul li{
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    margin: 2px 0;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
}

#game{
    width: 100%;
    height: 500px;
    max-width: 1000px;
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%,-50%);
    background:url(../images/ground.png) no-repeat;
    background-size: contain;
    display: none;
}
#game>div{
    transition: 0.5s;
}

#turn{
    width: 1000px;
    height: 150px;
    background:rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: none;
}
#turn h1{
    color: #fff;
    font-size: 100px;
}
/**/
#game>div:nth-child(1){
    position: absolute;
    top: 42%;
    left: 41%;
    width: 45px;
    height: 70px;
    background: url(../images/pitcher.png) no-repeat;
    background-size: contain;
}
#game>div:nth-child(2) {
    position: absolute;
    top: 48%;
    left: 41%;
    background: url(../images/야구공.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
#game>div:nth-child(3) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/STRIKE.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(4) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/BALL.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(5) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/FAUL.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(6) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/STRIKEOUT.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(7) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/FOURBALL.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(8) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/FLY.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(9) {
    position: absolute;
    top: -300px;
    left: 29%;
    background: url(../images/GROUNDBALL.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    opacity: 0;
}
#game>div:nth-child(10) {
    position: absolute;
    top: -350px;
    left: 190px;
    background: url(../images/HOMERUN.gif) no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
    opacity: 0;
}
#game>div:nth-child(11) {
    position: absolute;
    top: -350px;
    left: 190px;
    background: url(../images/ANTA.gif) no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
    opacity: 0;
}